#startlink {
    background-color: bisque;
    color:brown;
}

#list1 {
    color:orange;
    text-transform:uppercase;
    font-weight: bold;
}
#Maincourses_link {
    background-color: bisque;
    color:brown;
}

#Desserts_link {
    background-color: bisque;
    color:brown;
}

#icon {
    height:3% ;
    width: 3% ;
}
